#curatedBg {
  background-image: url(../../images/bg6.jpg);
  overflow: hidden;
}
a {
  text-decoration: none;
}
#curatedBg .container {
  height: 100%;
  width: 100%;
}
#curatedBg .item {
  position: relative;
}
#curatedItem svg {
  top: 20px;
}

#curatedBg .item svg {
  position: relative;
  left: 50%;
  transform: translate(-50%, 10%) scale(1.2);
}
#three {
  position: absolute;
  margin-left: 50px;
  width: 25%;
}
#animOne {
  animation: curatedAnim 1s alternate infinite;
}
#animTwo {
  animation: curatedAnim 1s alternate infinite 0.2s;
}
#animThree {
  animation: curatedAnim 1s alternate infinite 0.5s;
}

@keyframes curatedAnim {
  0% {
    top: -5px;
  }
  100% {
    top: 5px;
  }
}
#curatedBg .item .title {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  font-size: 14px;
  font-family: BiancoSans;
}

/* FIVE MIN */
#fiveMinBg {
  background-image: url(../../images/bg6.jpg);
}


/* SLEEP */

#sleepBg {
  background-image: url(../../images/bg6.jpg);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
#sleepBg .container {
  margin: 0 10rem;
  display: block;
}
#sleepBg .container .header {
  font-size: 35px;
  font-family: BiancoSerif;
  color: white;
  width: 100%;
  margin-bottom: 8rem;
}
#sleepBg .container .content {
  display: flex;
  align-content: center;
  margin: 0 8rem;
}

#sleepBg .svg-container {
  height: 100%;
  max-height: 300px;
}
#sleepBg .container .content .svg-container {
  display: flex;
  transform: translateY(-40px);

  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#sleepBg .container .content svg {
  width: 50%;
  transform: scale(0.8);
}

#sleepBg .svg-container {
  animation: 10s rotate infinite linear;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
  }
  100% {
    -webkit-transform: rotate(359deg) scale(0.8);
  }
}
/* CURATED BAR */
.curatedBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.curatedBar .el .title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: BiancoSans;
}

.curatedBar .el .svg-con {
  height: 100px;
  width: 50px;
  margin: 0 5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.curatedBar .el .svg-con svg {
  max-height: 20px;
  width: 100%;
  margin: 0 0.1rem;
}

/* FIVE MIN */
#fiveMinBg {
  background-image: url(../../images/bg6.jpg);
  overflow: hidden;
}

#fiveMinBg .container {
  /* margin: 0 10rem; */
  display: block;
}
.header {
  font-size: 35px;
  font-family: BiancoSerif;
  color: white;
  width: 100%;
}
#fiveMinBg .header{
  margin-left:8rem;
}
#fiveMinBg .container .content {
  display: flex;
  align-content: center;
  /* margin: 0 8rem; */
}
#fiveMinBg .container .content svg {
  height: 100%;
}
#fiveMinBg .container .content svg path {
  /* transform: matrix(0.81, -0.217, 0.259, 0.966, -663.052, -1538.736); */
  animation: 10s infinite linear;
}
@keyframes path {
  0% {
    /* transform: matrix(0.81, -0.217, 0.259, 0.966, inherit, inherit); */
  }
  100% {
    /* transform: matrix(0.81, -0.217, 0.259, 0.966, calc(inherit + 100), calc(inherit + 100px)); */
  }
}

/* RELAX */
#relaxBg {
  background-image: url(../../images/bg6.jpg);
  overflow: hidden;
}

#relaxBg .container {
  margin: 0 10rem;
  display: block;
}
.header {
  font-size: 35px;
  font-family: BiancoSerif;
  color: white;
  width: 100%;
}
#relaxBg .container .content {
  display: flex;
  align-content: center;
  position: relative;
}
#fiveMinBg .cls-1 {
  width: 100px;
}
#fiveMinBg .cls-1:nth-child(1) {
  transform: rotate(-20deg);
}

.lineOne {
  stroke: blue;
  position: absolute;
  bottom: 0;
}
#relaxBg .container .content svg #Layer_3 {
  position: absolute;
}
#relaxBg .container .content svg #Layer_4 {
  position: absolute;
  left: 0;
  stroke: orange;
}

path#Path_26 {
  border: 1px solid red;
  top: -10px;
  /* transform:translateY(10px); */
  /* animation: lava 1s infinite alternate; */
}
@keyframes lava {
  0% {
    fill: red;
    /* transform:matrix(0.269, 0.88, -0.963, 0.252, 3029.422, -839.68); */
  }
  100% {
    fill: blue;
    /* transform:matrix(0.269, 100, -0.963, 0.252, 3029.422, -839.68);  */
  }
}

#relaxBg .relaxIcon {
  width: 400px;
  top: 150px;
}

#first {
  position: absolute;
  transform: translateX(-150px) rotate(270deg) !important;
  animation: 7s floatOne infinite alternate linear;
}
@keyframes floatOne {
  0% {
    transform: translateX(-150px) rotate(270deg);
  }
  100% {
    transform: translateX(-10px) rotate(180deg);
  }
}

#second {
  position: absolute;
  transform: translateX(160px) translateY(50px) !important;
  animation: 7s floatTwo infinite alternate ease-in-out;

  /* transform: rotate(90deg); */
}
@keyframes floatTwo {
  0% {
    transform: translateX(160px) translateY(50px);
  }
  100% {
    transform: translateX(-10px) translateY(0px) rotate(60deg);
  }
}
#third {
  /* border: 1px solid orange; */

  position: absolute;
  transform: translateX(400px) translateY(-200px) rotate(270deg) !important;
  animation: 7s floatThree infinite alternate ease-in-out;
}
@keyframes floatThree {
  0% {
    transform: translateX(400px) translateY(-200px) rotate(270deg);
  }
  100% {
    transform: translateX(450px) translateY(100px) rotate(180deg);
  }
}

#fourth {
  /* border: 1px solid green; */
  position: absolute;
  transform: translateX(700px) translateY(100px) rotate(-10deg) !important;
  animation: 7s floatFour infinite alternate ease-in-out;
}

@keyframes floatFour {
  0% {
    transform: translateX(700px) translateY(100px) rotate(-10deg);
  }
  100% {
    transform: translateX(600px) translateY(-100px) rotate(30deg);
  }
}
