#dashboardBg {
  background-color: rgb(15, 15, 15);
  /* background-image: url(../../images/bg6.jpg); */
  overflow: hidden;
}

#dashboardBg .container {
  width: 80%;
  padding: 2rem 4rem;
  margin-top: 50px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#dashboardBg .container h1 {
  font-size: 35px;
  text-decoration: none;
  font-family: BiancoSerif;
  color: white;
  margin-bottom: 2rem;
}
.commands {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  /* height: 50px; */
}
.row {
  margin-bottom: 3rem;
}
#dashboardBg .container .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#dashboardBg .container .content .col-sm {
  width: 30%;
}
#dashboardBg .container .content .col-sm .title {
  text-align: left;
  font-size: 14px;
  font-family: BiancoSans;
  color: white;
  text-transform: uppercase;
}
#dashboardBg .container .content .col-lg {
  width: 70%;
}

.audio-header {
  display: flex;
  justify-content: space-between;
}

.audio-content {
  display: flex;
  justify-content: space-between;
}
.audio-svg-c {
  width: 30px;
  height: 100%;
  max-height: 30px;
}
.audio-svg-c svg {
  max-height: 30px;
  padding: 0.1rem;
}
