#soundOutputBg {
  background-image: url(../../images/bg7.jpg);
  border: 1px solid black;
  overflow: hidden;
}

#soundOutputBg .container {
  margin-top: 4rem;
  display: block;
}

#soundOutputBg .container h1 {
  color: white;
  font-size: 35px;
}
#soundOutputBg .container .output {
  height: 70%;
  position: relative;
  display: flex;
  align-items: center;
}
#soundOutputBg .container .output svg {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}
#soundOutputBg .container .output input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 250px;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
}

#soundOutputBg .container .output input::placeholder {
  color: white;
  text-align: center;
  font-family: BiancoSerif;
  color: white;
  font-weight: 100;
  font-size: 28px;
}

#soundOutputBg .container .output input:focus {
  outline: none;
  border-bottom: 2px solid white;
}

#soundOutputBg .container .output input[type="text"] {
  font-size: 30px;
  color:white;
  font-family: BiancoSerif;

}

#soundOutputBg .container .options {
  display: flex;
  width: 99%;
  justify-content: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
}

#soundOutputBg .container .options a {
  font-size: 14px;
  font-family: BiancoSans;
  margin: 0 2rem;
  width: auto;
  color: white;
  text-transform: uppercase;
}
