* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}
body {
  height: 100vh;
  width: 100vw;
}
.nav {
  display: flex;
  background: transparent;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  padding: 1rem;
}

.logo {
  width: 70px;
}

.cls-1 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
.cls-2 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.cls-3 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
.login-button {
  text-decoration: none;
}
section {
  padding: 1rem;
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: fill; /* Resize the background image to cover the entire container */
}
.settings {
  position: relative;
  width: 150px;
}
.icon-con #generateNav {
  transform: scale(1.1);
}
.nav-item-con {
  display: flex;
  width: auto;
}

.hideMenu .nav-item-con {
  position: absolute;
  width: 30px;
  right: 0;
  height: 100%;
  /* text-align:right; */
}
.hideMenu .nav-item-con .icon-con {
  position: absolute;
  right: 0;
  /* text-align:right; */
}

/* .hideMenu .nav-item-con */
.hideMenu {
  width: 30px;
  display: flex;

  flex-direction: column;
}

.hideMenu .login-button .buttonText {
  display: none;
}
.hideMenu .login-button .icon-con {
  width: 100%;
  max-width: 20px;
  outline: none;
  right: 0;
  position: absolute;
}
.hideMenu .login-button .icon-con svg:nth-child(1) {
  left: 3rem;
}
.hideMenu .login-button .icon-con #navMembers {
  right: 0rem;
}
.hideMenu .login-button .icon-con #navContact {
  right: 4rem;
}

.showMenu .login-button .buttonText {
  display: block;
}

.showMenu {
  color: black;
}
#downloadBg {
  background-image: url(../images/bg5.jpg);
}

.svg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
#landingBg .svg-container svg {
  height: 80%;
}
.container {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.item {
  margin: 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  /* margin-top:2rem; */
  width: 100%;
  text-align: center;
}

#random {
  animation: random 1s infinite alternate ease;
}
#generate {
  animation: generate 1s infinite alternate ease 0.2s;
}
#curated {
  animation: curated 1s infinite alternate ease 0.4s;
}

@keyframes random {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes generate {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes curated {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}

.login-button {
  background: transparent;
  display: flex;
  border: none;
}
.icon-con {
  width: 100%;
  max-width: 20px;
  outline: none;
}
.soundToggle {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 30px;
  background: transparent;
}
.sound-con {
  width: 100%;
}
.sound-con svg {
  width: 100%;
}
.buttonText {
  padding-left: 0.3rem;
  font-size: 16px;
}
